 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Anastasia has to face different enemies. But she has some powerful friends. Together they will create a better future.</p>
                </div>
                <div class="col-lg-4">
                    <p>Funny scenes, physical and magical battles, and wonderful adventures. Don't miss them! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Don't click here!
                    </a>
                </div>
            </div>
        </div>
    </section>